:root[data-theme="minerva"] {
  --bg-action-primary-idle: #0071B3;
  --bg-action-primary-hover: #007EC7;
  --bg-action-primary-pressed: #005E94;
  --bg-action-primary-critical-idle: #B8222A;
  --bg-action-primary-critical-hover: #DD2736;
  --bg-action-primary-critical-pressed: #9E1D24;
  --bg-action-secondary-idle: transparent;
  --bg-action-secondary-hover: rgba(0, 113, 179, 0.1);
  --bg-action-secondary-pressed: transparent;
  --bg-action-secondary-critical-idle: transparent;
  --bg-action-secondary-critical-hover: rgba(184, 34, 42, 0.1);
  --bg-action-secondary-critical-pressed: transparent;
  --bg-action-inverse-idle: transparent;
  --bg-action-inverse-hover: rgba(255, 255, 255, 0.15);
  --bg-action-inverse-pressed: rgba(255, 255, 255, 0.25);
  --bg-action-neutral-idle: #FFFFFF;
  --bg-action-neutral-hover: #E9EEF1;
  --bg-action-neutral-press: #CFD9E1;
  --bg-action-neutral-active: #F6F8F9;
  --bg-action-neutral-disabled: #CFD9E1;
  --bg-control-default-idle: #FFFFFF;
  --bg-control-default-hover: #FFFFFF;
  --bg-control-default-focus: #FFFFFF;
  --bg-control-default-readonly: #E9EEF1;
  --bg-control-default-disabled: #CFD9E1;
  --bg-control-default-invalid: #FFFFFF;
  --bg-control-default-dragging: #FFFFFF;
  --bg-control-selected-idle: #0071B3;
  --bg-control-selected-hover: #008DCE;
  --bg-control-selected-readonly: #E9EEF1;
  --bg-control-subtle-idle: #FFFFFF;
  --bg-control-subtle-hover: #F1F6FB;
  --bg-control-subtle-destructive-idle: #FFFFFF;
  --bg-control-subtle-destructive-hover: #FEF4F2;
  --bg-control-inverse-idle: #313E48;
  --bg-control-inverse-hover: #1E2A33;
  --bg-control-inverse-focus: #1E2A33;
  --bg-control-inverse-invalid: #313E48;
  --bg-feedback-success-base: #317861;
  --bg-feedback-success-muted: rgba(61, 140, 113, 0.85);
  --bg-feedback-success-inverse: #F3F7F4;
  --bg-feedback-warning-base: #E1CF77;
  --bg-feedback-warning-muted: rgba(207, 107, 58, 0.85);
  --bg-feedback-warning-inverse: #FCFAF2;
  --bg-feedback-error-base: #B8222A;
  --bg-feedback-error-muted: rgba(184, 34, 42, 0.85);
  --bg-feedback-error-inverse: #FEF4F2;
  --bg-feedback-informational-base: #00629C;
  --bg-feedback-informational-muted: rgba(0, 98, 156, 0.85);
  --bg-feedback-informational-inverse: #F1F6FB;
  --bg-navigation-bar: linear-gradient(to right, #254591 0%, #0059B3 100%);
  --bg-navigation-item-secondary-idle: #FFFFFF;
  --bg-navigation-item-secondary-hover: #F1F6FB;
  --bg-navigation-item-secondary-active: #FFFFFF;
  --bg-navigation-item-primary-idle: #FFFFFF;
  --bg-navigation-item-primary-hover: #F6F8F9;
  --bg-navigation-item-primary-active: #F1F6FB;
  --bg-surface-base: #FFFFFF;
  --bg-surface-subtle: #F6F8F9;
  --bg-surface-muted: #E9EEF1;
  --bg-surface-inverse: #313E48;
  --bg-surface-accent-primary: #4F5B97;
  --bg-surface-accent-secondary: #3E5D6F;
  --bg-surface-accent-tertiary: #AEBFCC;
  --border-action-secondary-idle: #0071B3;
  --border-action-secondary-hover: #0084D2;
  --border-action-secondary-pressed: #005E94;
  --border-action-secondary-critical-idle: #B8222A;
  --border-action-secondary-critical-hover: #DF303F;
  --border-action-secondary-critical-pressed: #9E1D24;
  --border-control-default-idle: #AEBFCC;
  --border-control-default-hover: #3E5D6F;
  --border-control-default-focus: #008DCE;
  --border-control-default-dragging: #5FA8DC;
  --border-control-default-readonly: #CFD9E1;
  --border-control-default-critical-idle: #B8222A;
  --border-control-subtle-idle: #AEBFCC;
  --border-control-subtle-hover: #0071B3;
  --border-navigation-primary-active: #005E94;
  --border-surface-base: #CFD9E1;
  --border-surface-subtle: #F6F8F9;
  --border-surface-inverse: #AEBFCC;
  --border-feedback-success-muted: #BFD7CC;
  --border-feedback-error-base: #B8222A;
  --border-feedback-error-muted: #F9B7AF;
  --border-feedback-warning-muted: #EADB9E;
  --border-feedback-informational-muted: #A5CAEB;
  --text-action-hyperlink: #0071B3;
  --text-action-base-idle: #313E48;
  --text-action-base-hover: #007EC7;
  --text-action-base-disabled: #7B98AB;
  --text-action-primary-idle: #FFFFFF;
  --text-action-primary-hover: #FFFFFF;
  --text-action-primary-pressed: #FFFFFF;
  --text-action-primary-critical-idle: #FFFFFF;
  --text-action-primary-critical-hover: #FFFFFF;
  --text-action-primary-critical-pressed: #FFFFFF;
  --text-action-inverse-idle: #FFFFFF;
  --text-action-inverse-hover: #FFFFFF;
  --text-action-inverse-pressed: #FFFFFF;
  --text-action-secondary-idle: #0071B3;
  --text-action-secondary-hover: #0084D2;
  --text-action-secondary-pressed: #005E94;
  --text-action-secondary-critical-idle: #B8222A;
  --text-action-secondary-critical-hover: #DF303F;
  --text-action-secondary-critical-pressed: #9E1D24;
  --text-control-affix: #7B98AB;
  --text-control-instructions: #3E5D6F;
  --text-control-placeholder: #94ABBB;
  --text-control-value: #313E48;
  --text-control-label-idle: #313E48;
  --text-control-label-disabled: #7B98AB;
  --text-control-destructive-idle: #B8222A;
  --text-control-destructive-hover: #DD2736;
  --text-control-subtle-idle: #313E48;
  --text-control-subtle-hover: #00629C;
  --text-feedback-success-base: #3D8C71;
  --text-feedback-success-inverse: #FFFFFF;
  --text-feedback-error-base: #B8222A;
  --text-feedback-error-inverse: #FFFFFF;
  --text-feedback-warning-base: #A37F3B;
  --text-feedback-warning-inverse: #FFFFFF;
  --text-feedback-warning-strong: #313E48;
  --text-feedback-informational-base: #0071B3;
  --text-feedback-informational-inverse: #FFFFFF;
  --text-navigation-link: #60646D;
  --text-navigation-item-primary-idle: #60646D;
  --text-navigation-item-primary-hover: #00629C;
  --text-navigation-item-primary-active: #0071B3;
  --text-navigation-item-secondary-idle: #313E48;
  --text-surface-base: #313E48;
  --text-surface-subtle: #3E5D6F;
  --text-surface-inverse: #FFFFFF;
  --icon-action-hyperlink: #0071B3;
  --icon-action-base-idle: #313E48;
  --icon-action-base-hover: #007EC7;
  --icon-action-base-disabled: #7B98AB;
  --icon-action-dismiss-idle: #313E48;
  --icon-action-dismiss-hover: #60646D;
  --icon-action-dismiss-pressed: #1E2A33;
  --icon-action-dismiss-inverse-idle: #FFFFFF;
  --icon-action-dismiss-inverse-hover: #FFFFFF;
  --icon-action-dismiss-inverse-pressed: #FFFFFF;
  --icon-action-primary-idle: #FFFFFF;
  --icon-action-primary-hover: #FFFFFF;
  --icon-action-primary-pressed: #FFFFFF;
  --icon-action-primary-critical-idle: #FFFFFF;
  --icon-action-primary-critical-hover: #FFFFFF;
  --icon-action-primary-critical-pressed: #FFFFFF;
  --icon-action-inverse-idle: #FFFFFF;
  --icon-action-inverse-hover: #FFFFFF;
  --icon-action-inverse-pressed: #FFFFFF;
  --icon-action-secondary-idle: #0071B3;
  --icon-action-secondary-hover: #0084D2;
  --icon-action-secondary-pressed: #005E94;
  --icon-action-secondary-critical-idle: #B8222A;
  --icon-action-secondary-critical-hover: #DF303F;
  --icon-action-secondary-critical-pressed: #9E1D24;
  --icon-action-neutral-idle: #313E48;
  --icon-action-neutral-hover: #313E48;
  --icon-action-neutral-press: #313E48;
  --icon-action-neutral-active: #313E48;
  --icon-action-neutral-disabled: #7B98AB;
  --icon-control-default: #7B98AB;
  --icon-control-strong: #313E48;
  --icon-control-selected-idle: #FFFFFF;
  --icon-control-selected-hover: #FFFFFF;
  --icon-control-selected-readonly: #3E5D6F;
  --icon-feedback-success-base: #3D8C71;
  --icon-feedback-success-inverse: #FFFFFF;
  --icon-feedback-error-base: #B8222A;
  --icon-feedback-error-inverse: #FFFFFF;
  --icon-feedback-warning-base: #A37F3B;
  --icon-feedback-warning-inverse: #FFFFFF;
  --icon-feedback-informational-base: #0071B3;
  --icon-feedback-informational-inverse: #FFFFFF;
  --icon-surface-base: #313E48;
  --icon-surface-strong: #1E2A33;
  --icon-surface-subtle: #94ABBB;
  --utility-placeholder-bg: #E6E6F2;
  --utility-placeholder-border: #5E6DB3;
  --utility-placeholder-text: #5E6DB3;
  --gradient-050: linear-gradient(to right, #254591 0%, #0059B3 100%);
  --gradient-100: linear-gradient(to right, #5E6EB4 0%, #0059B3 100%);
  --gradient-200: linear-gradient(to right, #1C4587 25%, #0076B9 100%);
  --shadow-input-engaged: 0 0 4px 0 rgba(0, 141, 206, 0.65);
  --shadow-table-outer-right: 4px 0 8px 0 rgba(0,0,0,0.16);
  --shadow-table-outer-left: -4px 0 8px 0 rgba(0,0,0,0.16);
  --shadow-table-inner-right: inset -4px 0 4px 0 rgba(0,0,0,0.16);
  --shadow-table-inner-left: inset 4px 0 4px 0 rgba(0,0,0,0.16);
  --shadow-surface-sm: 0 0 4px 0 rgba(0,0,0,0.08);
  --shadow-surface-md: 0 4px 16px 0 rgba(0,0,0,0.16);
  --shadow-surface-lg: 0 8px 16px 0 rgba(0,0,0,0.16);
  --space-0: 0;
  --space-1: 0.0625rem;
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-6: 0.375rem;
  --space-8: 0.5rem;
  --space-9: 0.5625rem;
  --space-10: 0.625rem;
  --space-11: 0.6875rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-30: 1.875rem;
  --space-32: 2rem;
  --space-36: 2.25rem;
  --space-40: 2.5rem;
  --inset-1: 0.25rem;
  --inset-2: 0.375rem;
  --inset-3: 0.5rem;
  --inset-4: 0.625rem;
  --inset-5: 0.75rem;
  --inset-6: 1rem;
  --inset-7: 1.5rem;
  --stack-1: 0.25rem;
  --stack-2: 0.5rem;
  --stack-3: 0.75rem;
  --stack-4: 1rem;
  --stack-5: 1.5rem;
  --inline-1: 0.25rem;
  --inline-2: 0.5rem;
  --inline-3: 0.75rem;
  --inline-4: 1rem;
  --inline-5: 1.5rem;
  --layout-1: 1rem;
  --layout-2: 1.5rem;
  --layout-3: 2rem;
  --layout-4: 2.5rem;
  --sidenav-width-expanded: 256px;
  --font-base: "Source Sans 3", sans-serif;
  --font-code: "Fira Code", monospace;
  --body-sm-size: 0.75rem;
  --body-sm-line-height: 1rem;
  --body-sm-weight: 400;
  --body-md-size: 0.875rem;
  --body-md-line-height: 1.25rem;
  --body-md-weight: 400;
  --body-lg-size: 1rem;
  --body-lg-line-height: 1.5rem;
  --body-lg-weight: 400;
  --heading-xs-size: 1rem;
  --heading-xs-line-height: 1.25rem;
  --heading-xs-weight: 600;
  --heading-sm-size: 1.125rem;
  --heading-sm-line-height: 1.5rem;
  --heading-sm-weight: 600;
  --heading-md-size: 1.25rem;
  --heading-md-line-height: 1.75rem;
  --heading-md-weight: 600;
  --heading-lg-size: 1.5rem;
  --heading-lg-line-height: 2rem;
  --heading-lg-weight: 600;
  --heading-xl-size: 1.625rem;
  --heading-xl-line-height: 2.25rem;
  --heading-xl-weight: 600;
  --label-sm-size: 0.625rem;
  --label-sm-line-height: 0.75rem;
  --label-sm-weight: 600;
  --label-md-size: 0.75rem;
  --label-md-line-height: 0.875rem;
  --label-md-weight: 600;
  --label-lg-size: 0.875rem;
  --label-lg-line-height: 1rem;
  --label-lg-weight: 600;
  --global-header-module-title-size: 0.875rem;
  --global-header-module-title-line-height: 0.875rem;
  --global-header-module-title-weight: 600;
  --breadcrumb-label-size: 0.625rem;
  --breadcrumb-label-line-height: 1rem;
  --breadcrumb-label-weight: 400;
  --menu-item-lg-size: 1rem;
  --menu-item-lg-line-height: 1.5rem;
  --menu-item-lg-weight: 400;
  --button-label-size: 0.9375rem;
  --button-label-line-height: 1.25rem;
  --button-label-weight: 600;
  --root-font-size: 16px;
}

:root[data-theme="evolution"] {
  --bg-action-primary-idle: #3357CC;
  --bg-action-primary-hover: #4364D0;
  --bg-action-primary-pressed: #2C4CB3;
  --bg-action-primary-critical-idle: #AC2037;
  --bg-action-primary-critical-hover: #D43F58;
  --bg-action-primary-critical-pressed: #B82840;
  --bg-action-secondary-idle: transparent;
  --bg-action-secondary-hover: rgba(51, 87, 204, 0.1);
  --bg-action-secondary-pressed: transparent;
  --bg-action-secondary-critical-idle: transparent;
  --bg-action-secondary-critical-hover: rgba(172, 32, 55, 0.1);
  --bg-action-secondary-critical-pressed: transparent;
  --bg-action-inverse-idle: transparent;
  --bg-action-inverse-hover: rgba(255, 255, 255, 0.15);
  --bg-action-inverse-pressed: rgba(255, 255, 255, 0.25);
  --bg-action-neutral-idle: #FFFFFF;
  --bg-action-neutral-hover: #D4DCE8;
  --bg-action-neutral-press: #BDC9DB;
  --bg-action-neutral-active: #EBEFF5;
  --bg-action-neutral-disabled: #BDC9DB;
  --bg-control-default-idle: #FFFFFF;
  --bg-control-default-hover: #FFFFFF;
  --bg-control-default-focus: #FFFFFF;
  --bg-control-default-readonly: #D4DCE8;
  --bg-control-default-disabled: #BDC9DB;
  --bg-control-default-invalid: #FFFFFF;
  --bg-control-default-dragging: #FFFFFF;
  --bg-control-selected-idle: #3357CC;
  --bg-control-selected-hover: #5776DB;
  --bg-control-selected-readonly: #D4DCE8;
  --bg-control-subtle-idle: #FFFFFF;
  --bg-control-subtle-hover: #F1F4FE;
  --bg-control-subtle-destructive-idle: #FFFFFF;
  --bg-control-subtle-destructive-hover: #FEF0F3;
  --bg-control-inverse-idle: #263040;
  --bg-control-inverse-hover: #131820;
  --bg-control-inverse-focus: #131820;
  --bg-control-inverse-invalid: #263040;
  --bg-feedback-success-base: #04673E;
  --bg-feedback-success-muted: rgba(8, 125, 76, 0.85);
  --bg-feedback-success-inverse: #F2FDF8;
  --bg-feedback-warning-base: #E1CF77;
  --bg-feedback-warning-muted: rgba(213, 79, 11, 0.85);
  --bg-feedback-warning-inverse: #FCFAF2;
  --bg-feedback-error-base: #AC2037;
  --bg-feedback-error-muted: rgba(172, 32, 55, 0.85);
  --bg-feedback-error-inverse: #FEF0F3;
  --bg-feedback-informational-base: #2443A8;
  --bg-feedback-informational-muted: rgba(36, 67, 168, 0.85);
  --bg-feedback-informational-inverse: #F1F4FE;
  --bg-navigation-bar: linear-gradient(to right, #5459D1 0%, #0442A4 100%);
  --bg-navigation-item-secondary-idle: #FFFFFF;
  --bg-navigation-item-secondary-hover: #F1F4FE;
  --bg-navigation-item-secondary-active: #FFFFFF;
  --bg-navigation-item-primary-idle: #FFFFFF;
  --bg-navigation-item-primary-hover: #EBEFF5;
  --bg-navigation-item-primary-active: #F1F4FE;
  --bg-surface-base: #FFFFFF;
  --bg-surface-subtle: #EBEFF5;
  --bg-surface-muted: #D4DCE8;
  --bg-surface-inverse: #263040;
  --bg-surface-accent-primary: #4724A8;
  --bg-surface-accent-secondary: #394960;
  --bg-surface-accent-tertiary: #9FAFC6;
  --border-action-secondary-idle: #3357CC;
  --border-action-secondary-hover: #4B6BD2;
  --border-action-secondary-pressed: #2C4CB3;
  --border-action-secondary-critical-idle: #AC2037;
  --border-action-secondary-critical-hover: #D6485F;
  --border-action-secondary-critical-pressed: #B82840;
  --border-control-default-idle: #9FAFC6;
  --border-control-default-hover: #394960;
  --border-control-default-focus: #5776DB;
  --border-control-default-dragging: #7D96E8;
  --border-control-default-readonly: #BDC9DB;
  --border-control-default-critical-idle: #AC2037;
  --border-control-subtle-idle: #AEBFCC;
  --border-control-subtle-hover: #3357CC;
  --border-navigation-primary-active: #2C4CB3;
  --border-surface-base: #BDC9DB;
  --border-surface-subtle: #EBEFF5;
  --border-surface-inverse: #9FAFC6;
  --border-feedback-success-muted: #C9F3E1;
  --border-feedback-error-base: #AC2037;
  --border-feedback-error-muted: #F5A3B1;
  --border-feedback-warning-muted: #FFF0D1;
  --border-feedback-informational-muted: #A6B8F2;
  --text-action-hyperlink: #3357CC;
  --text-action-base-idle: #313E48;
  --text-action-base-hover: #4364D0;
  --text-action-base-disabled: #7B98AB;
  --text-action-primary-idle: #FFFFFF;
  --text-action-primary-hover: #FFFFFF;
  --text-action-primary-pressed: #FFFFFF;
  --text-action-primary-critical-idle: #FFFFFF;
  --text-action-primary-critical-hover: #FFFFFF;
  --text-action-primary-critical-pressed: #FFFFFF;
  --text-action-inverse-idle: #FFFFFF;
  --text-action-inverse-hover: #FFFFFF;
  --text-action-inverse-pressed: #FFFFFF;
  --text-action-secondary-idle: #3357CC;
  --text-action-secondary-hover: #4B6BD2;
  --text-action-secondary-pressed: #2C4CB3;
  --text-action-secondary-critical-idle: #AC2037;
  --text-action-secondary-critical-hover: #D6485F;
  --text-action-secondary-critical-pressed: #B82840;
  --text-control-affix: #7B98AB;
  --text-control-instructions: #3E5D6F;
  --text-control-placeholder: #94ABBB;
  --text-control-value: #313E48;
  --text-control-label-idle: #313E48;
  --text-control-label-disabled: #7B98AB;
  --text-control-destructive-idle: #AC2037;
  --text-control-destructive-hover: #D43F58;
  --text-control-subtle-idle: #313E48;
  --text-control-subtle-hover: #2443A8;
  --text-feedback-success-base: #087D4C;
  --text-feedback-success-inverse: #FFFFFF;
  --text-feedback-error-base: #AC2037;
  --text-feedback-error-inverse: #FFFFFF;
  --text-feedback-warning-base: #A37F3B;
  --text-feedback-warning-inverse: #FFFFFF;
  --text-feedback-warning-strong: #313E48;
  --text-feedback-informational-base: #3357CC;
  --text-feedback-informational-inverse: #FFFFFF;
  --text-navigation-link: #60646D;
  --text-navigation-item-primary-idle: #60646D;
  --text-navigation-item-primary-hover: #2443A8;
  --text-navigation-item-primary-active: #3357CC;
  --text-navigation-item-secondary-idle: #313E48;
  --text-surface-base: #313E48;
  --text-surface-subtle: #3E5D6F;
  --text-surface-inverse: #FFFFFF;
  --icon-action-hyperlink: #3357CC;
  --icon-action-base-idle: #313E48;
  --icon-action-base-hover: #4364D0;
  --icon-action-base-disabled: #7B98AB;
  --icon-action-dismiss-idle: #313E48;
  --icon-action-dismiss-hover: #60646D;
  --icon-action-dismiss-pressed: #1E2A33;
  --icon-action-dismiss-inverse-idle: #FFFFFF;
  --icon-action-dismiss-inverse-hover: #FFFFFF;
  --icon-action-dismiss-inverse-pressed: #FFFFFF;
  --icon-action-primary-idle: #FFFFFF;
  --icon-action-primary-hover: #FFFFFF;
  --icon-action-primary-pressed: #FFFFFF;
  --icon-action-primary-critical-idle: #FFFFFF;
  --icon-action-primary-critical-hover: #FFFFFF;
  --icon-action-primary-critical-pressed: #FFFFFF;
  --icon-action-inverse-idle: #FFFFFF;
  --icon-action-inverse-hover: #FFFFFF;
  --icon-action-inverse-pressed: #FFFFFF;
  --icon-action-secondary-idle: #3357CC;
  --icon-action-secondary-hover: #4B6BD2;
  --icon-action-secondary-pressed: #2C4CB3;
  --icon-action-secondary-critical-idle: #AC2037;
  --icon-action-secondary-critical-hover: #D6485F;
  --icon-action-secondary-critical-pressed: #B82840;
  --icon-action-neutral-idle: #313E48;
  --icon-action-neutral-hover: #313E48;
  --icon-action-neutral-press: #313E48;
  --icon-action-neutral-active: #313E48;
  --icon-action-neutral-disabled: #7B98AB;
  --icon-control-default: #7B98AB;
  --icon-control-strong: #313E48;
  --icon-control-selected-idle: #FFFFFF;
  --icon-control-selected-hover: #FFFFFF;
  --icon-control-selected-readonly: #3E5D6F;
  --icon-feedback-success-base: #087D4C;
  --icon-feedback-success-inverse: #FFFFFF;
  --icon-feedback-error-base: #AC2037;
  --icon-feedback-error-inverse: #FFFFFF;
  --icon-feedback-warning-base: #A37F3B;
  --icon-feedback-warning-inverse: #FFFFFF;
  --icon-feedback-informational-base: #3357CC;
  --icon-feedback-informational-inverse: #FFFFFF;
  --icon-surface-base: #313E48;
  --icon-surface-strong: #1E2A33;
  --icon-surface-subtle: #94ABBB;
  --utility-placeholder-bg: #E6E6F2;
  --utility-placeholder-border: #5E6DB3;
  --utility-placeholder-text: #5E6DB3;
  --gradient-050: linear-gradient(to right, #254591 0%, #0059B3 100%);
  --gradient-100: linear-gradient(to right, #5E6EB4 0%, #0059B3 100%);
  --gradient-200: linear-gradient(to right, #1C4587 25%, #0076B9 100%);
  --shadow-input-engaged: 0 0 4px 0 rgba(87, 118, 219, 0.65);
  --shadow-table-outer-right: 4px 0 8px 0 rgba(0,0,0,0.16);
  --shadow-table-outer-left: -4px 0 8px 0 rgba(0,0,0,0.16);
  --shadow-table-inner-right: inset -4px 0 4px 0 rgba(0,0,0,0.16);
  --shadow-table-inner-left: inset 4px 0 4px 0 rgba(0,0,0,0.16);
  --shadow-surface-sm: 0 0 4px 0 rgba(0,0,0,0.08);
  --shadow-surface-md: 0 4px 16px 0 rgba(0,0,0,0.16);
  --shadow-surface-lg: 0 8px 16px 0 rgba(0,0,0,0.16);
  --space-0: 0;
  --space-1: 0.0625rem;
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-6: 0.375rem;
  --space-8: 0.5rem;
  --space-9: 0.5625rem;
  --space-10: 0.625rem;
  --space-11: 0.6875rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-30: 1.875rem;
  --space-32: 2rem;
  --space-36: 2.25rem;
  --space-40: 2.5rem;
  --inset-1: 0.25rem;
  --inset-2: 0.375rem;
  --inset-3: 0.5rem;
  --inset-4: 0.625rem;
  --inset-5: 0.75rem;
  --inset-6: 1rem;
  --inset-7: 1.5rem;
  --stack-1: 0.25rem;
  --stack-2: 0.5rem;
  --stack-3: 0.75rem;
  --stack-4: 1rem;
  --stack-5: 1.5rem;
  --inline-1: 0.25rem;
  --inline-2: 0.5rem;
  --inline-3: 0.75rem;
  --inline-4: 1rem;
  --inline-5: 1.5rem;
  --layout-1: 1rem;
  --layout-2: 1.5rem;
  --layout-3: 2rem;
  --layout-4: 2.5rem;
  --sidenav-width-expanded: 256px;
  --font-base: "Inter", sans-serif;
  --font-code: "Fira Code", monospace;
  --body-sm-size: 0.75rem;
  --body-sm-line-height: 1rem;
  --body-sm-weight: 400;
  --body-md-size: 0.875rem;
  --body-md-line-height: 1.25rem;
  --body-md-weight: 400;
  --body-lg-size: 1rem;
  --body-lg-line-height: 1.5rem;
  --body-lg-weight: 400;
  --heading-xs-size: 1rem;
  --heading-xs-line-height: 1.25rem;
  --heading-xs-weight: 600;
  --heading-sm-size: 1.125rem;
  --heading-sm-line-height: 1.5rem;
  --heading-sm-weight: 600;
  --heading-md-size: 1.25rem;
  --heading-md-line-height: 1.75rem;
  --heading-md-weight: 600;
  --heading-lg-size: 1.5rem;
  --heading-lg-line-height: 2rem;
  --heading-lg-weight: 600;
  --heading-xl-size: 1.625rem;
  --heading-xl-line-height: 2.25rem;
  --heading-xl-weight: 600;
  --label-sm-size: 0.625rem;
  --label-sm-line-height: 0.75rem;
  --label-sm-weight: 600;
  --label-md-size: 0.75rem;
  --label-md-line-height: 0.875rem;
  --label-md-weight: 600;
  --label-lg-size: 0.875rem;
  --label-lg-line-height: 1rem;
  --label-lg-weight: 600;
  --global-header-module-title-size: 0.875rem;
  --global-header-module-title-line-height: 0.875rem;
  --global-header-module-title-weight: 600;
  --breadcrumb-label-size: 0.625rem;
  --breadcrumb-label-line-height: 1rem;
  --breadcrumb-label-weight: 400;
  --menu-item-lg-size: 1rem;
  --menu-item-lg-line-height: 1.5rem;
  --menu-item-lg-weight: 400;
  --button-label-size: 0.9375rem;
  --button-label-line-height: 1.25rem;
  --button-label-weight: 600;
  --root-font-size: 14px;
}
